<%= form_with(model: upload, local: true, multipart: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% upload.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :pdf_file, class: "label invisible" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="256" data-dropzone-max-files="1">
    <%= form.file_field :pdf_file, direct_upload: true, data: { target: 'dropzone.input' } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title">Drop your pdf here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc text-sm">256 MB file size maximum. Allowed file types: pdf.</span>
      </div>
    </div>
  </div>

  <div class="mb-6">
    <span class="block w-full rounded-md shadow-sm">
      <%= form.submit 'Separate my PDF', class: "w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
    </span>
  </div>

<% end %>
