<!DOCTYPE html>
<html>
  <head>
    <title>LetterLegalSeparator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://orequals.com/favicon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
